@font-face {
  font-family: 'Afl-font';
  src: url('../fonts/aflfont.TTF');
}


.findMother {
  height: 100vh;
  background-color: bisque;
  font-family: 'Afl-font', sans-serif;
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.findSpiderman h2 {
  margin-bottom: 2rem;
}

.rules {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: left;
  margin-top: 2rem;
}

.rules li {
  list-style: none;
  padding: 1rem;
  margin-left: 2rem;
}

.doors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

#firstDoor,
#secondDoor,
#thirdDoor {
  background-size: contain;
  width: 200px;
  height: 300px;
  padding: 2rem;
}

/* start button */

#start {
  font-size: 14px;
  margin: 1rem;
  width: 150px;
  height: 40px;
  cursor: pointer;
  background-color: #0493c3;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


/* footer part */