body {
  overflow: hidden;

}

.bgEnding {
  background-image: url("../images/mountain_hotel.png");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: repeat(6, 1fr)/200px 1fr 200px;
  animation: appearFromBottom 2s 1s linear 1 forwards;
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(100vh);

  }

  100% {
    transform: translateY(0);
  }
}


.bgGrid {
  display: grid;

}

.bgNone {
  display: none;
}

.snow {
  position: absolute;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-image: url("../images/snow-05.png");

}

.snow1 {
  animation: snowing 7s ease-in infinite;

}

.snow2 {
  animation: snowing 18s 3s ease-out infinite;

}

.snow3 {
  animation: snowing 12s 6s ease-out infinite;

}

@keyframes snowing {
  0% {
    transform: translateY(-800px);

  }

  100% {
    opacity: 0;
  }
}

#carWrapper {}

.car {
  grid-area: 2/2/ span 3/ span 2;
  align-self: center;
  margin-bottom: -10vh;
  background-size: contain;
  max-width: 300px;
  max-height: 300px;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-image: url("../images/snowmobile-04.png");


}

.car1 {
  animation: drive 7s linear forwards 1;

}

@keyframes drive {
  0% {
    transform: translate(-100px, 0);
  }

  10% {
    transform: translate(-50px, -20px);
  }

  20% {
    transform: translate(0px, 10px);
  }


  30% {
    transform: translate(50px, -30px);
  }

  40% {
    transform: translate(100px, 0px);
  }

  50% {
    transform: translate(250px, 30px);
  }

  60% {
    transform: translate(340px, -10px);
  }

  70% {
    transform: translate(450px, 20px);
  }

  80% {
    transform: translate(540px, -10);
  }


  100% {
    transform: translate(600px, 0);

  }
}

.car2 {
  animation: driveBack 7s linear forwards 1;

}


@keyframes driveBack {
  0% {
    transform: translate(600px, 0);
  }

  10% {
    transform: translate(500px, 100px);

  }


  20% {
    transform: translate(600px, 120);
  }

  30% {
    transform: translate(400px, 80px);

  }

  40% {
    transform: translate(300px, 100px);

  }


  50% {
    transform: translate(180px, 130px);

  }

  60% {
    transform: translate(100px, 100px);

  }

  70% {
    transform: translate(0px, 120px);

  }


  80% {
    transform: translate(-100px, 100px);
  }

  100% {
    transform: translate(-100px, 0);
  }
}