@font-face {
  font-family: 'Afl-font';
  src: url('../fonts/aflfont.TTF');
}

body {
  font-family: 'Afl-font', sans-serif;
  overflow: hidden;

}

.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/fighting/livingroom-02.png);
  background-size: cover;
}

.bodyDissapear {
  opacity: 0;
  animation: bodyDissapear 2s linear 0.3s 1 forwards;
}

@keyframes bodyDissapear {
  100% {
    opacity: 1;
  }
}

.norepeat {
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

/* fire */
.fire {
  grid-area: 1/1 / span 1 / span 1;
  background-image: url(../images/fighting/fire-04.png);
  max-width: 500px;
  max-height: 600px;
  background-size: cover;
  align-self: flex-end;
  justify-self: center;
  animation: fire 2s alternate linear infinite;
}

@keyframes fire {
  0% {
    filter: drop-shadow(10px 10px 35px #ff4500);
  }

  30% {
    filter: drop-shadow(10px 10px 30px orange);
  }

  60% {
    filter: drop-shadow(10px 10px 35px red);
  }

  80% {
    filter: drop-shadow(15px 15px 30px rgb(109, 50, 50));
  }

  100% {
    filter: drop-shadow(10px 10px 35px rgb(232, 104, 6));
  }
}

/* fire */

.jack {
  grid-area: 1/2 / span 1 / span 1;
  background-image: url(../images/fighting/jack-03.png);
  max-width: 500px;
  max-height: 600px;
  background-size: cover;
  align-self: flex-end;
  justify-self: flex-start;
}

/* jack jumping */

.jackJump {
  animation: jackJump 0.5s 1s 15 forwards ease-in;
}

@keyframes jackJump {
  100% {
    transform: rotate(5deg);
    transform-origin: left;
  }
}

/* jack Walking */

.jackWalking {
  animation: jackWalking 3s ease-in-out alternate 11 forwards;
}

@keyframes jackWalking {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(300px);
  }

  100% {
    transform: translateX(-100px);
  }
}

/* jack Walking */
/*  */
/* jack shaking */

.shaking {
  animation: shaking 0.1s ease-in-out alternate 35 forwards;
}

@keyframes shaking {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(20px);
  }
}

/*  */

.wendy {
  grid-area: 1/2 / span 1 / span 1;
  background-image: url(../images/fighting/wendy-06.png);
  max-width: 400px;
  max-height: 600px;
  background-size: contain;
  align-self: flex-end;
  justify-self: center;
  bottom: 0;


  /* animation: running1 2s linear 6; */


}




/* running animations */
.running1 {
  animation: running1 2s linear alternate-reverse 8;
}

@keyframes running1 {
  0% {
    transform: translateX(-300px);
  }

  50% {
    transform: translateX(300px);
  }

  100% {
    transform: translateX(-100px);
  }
}

.running2 {
  animation: running2 4s linear alternate-reverse 6;
}

@keyframes running2 {
  0% {
    transform: translateX(-200px);
  }

  50% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(100px);
  }
}

/* wendy animations */

.crying1 {
  animation: crying1 0.2s alternate 32;
}

.crying2 {
  animation: crying2 0.2s alternate 39;
}

@keyframes crying2 {
  0% {
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
  }

  2% {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
  }

  4% {
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
  }

  6% {
    transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
  }

  8% {
    transform: rotate(-22deg);
    -webkit-transform: rotate(-22deg);
  }

  10% {
    transform: rotate(22deg);
    -webkit-transform: rotate(22deg);
  }

  12% {
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
  }

  14% {
    transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
  }

  16% {
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
  }

  18% {
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
  }

  20% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}

@keyframes crying1 {
  0% {
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
  }

  2% {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
  }

  4% {
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
  }

  6% {
    transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
  }

  8% {
    transform: rotate(-22deg);
    -webkit-transform: rotate(-22deg);
  }

  10% {
    transform: rotate(22deg);
    -webkit-transform: rotate(22deg);
  }

  12% {
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
  }

  14% {
    transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
  }

  16% {
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
  }

  18% {
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
  }

  20% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}


.bat {
  cursor: pointer;
  opacity: 0;
  grid-area: 1/2/ span 1/ span 1;
  align-self: flex-end;
  justify-self: flex-end;
  width: 400px;
  height: 400px;
  background-image: url(../images/fighting/bat.png);
  background-size: contain;
  animation: bat 3s 20s ease-in 1 forwards;

}

@keyframes bat {
  0% {
    opacity: 0;
  }

  100% {
    filter: drop-shadow(8px 8px 9px red);

    opacity: 1;
  }
}


.zoomin {
  animation: zoomin 5s linear forwards 1;
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(1.8);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }

}

/* hittting css  */
/* 
 /* */

.hitting {
  z-index: -1;
  display: flex;
  justify-content: center;
  display: none;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(../images/fighting/wendyjack1-04.png);
  animation: appearFight 4.6s linear 1 forwards;

}

.hittinAnimation1 {
  animation: appearFight2 4.6s linear 1 forwards;


}


@keyframes appearFight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;

  }

}



.dissapear {
  animation: dissapear 1s linear forwards 1;
}

@keyframes dissapear {
  100% {
    opacity: 0;
  }
}

/* bloooooooood */

.blood {
  display: none;
  opacity: 0;
  position: absolute;
  background-image: url(../images/blood-05.png);
  background-size: contain;
  background-repeat: no-repeat;
  align-self: flex-start;
  left: 35vw;


}


.blood1 {
  width: 400px;
  height: 500px;
  animation: blood1 0.5s 0.4s ease-in forwards 6;
}




@keyframes blood1 {
  100% {
    opacity: 1;
    transform: translate(50px, -50px)
  }

}


.blood2 {
  width: 300px;
  height: 500px;
  animation: blood2 0.4s 0.7s ease-in forwards 8;
}

@keyframes blood2 {
  100% {
    opacity: 1;

    transform: rotate(80deg) translate(30px, 80px)
  }

}

.blood3 {
  width: 200px;
  height: 300px;
  animation: blood3 0.4s 0.9s linear forwards 13;
}

@keyframes blood3 {
  100% {

    opacity: 1;

    transform: rotate(50deg) translate(80px, 80px)
  }

}

/* elevator  */
/*  */
/* elevator  */
/* elevator  */
/* elevator  */
/* elevator  */

.todisplaynone {
  display: none;
  opacity: 0;
  animation: appearElevator 1s 2s linear 1 forwards;


}

@keyframes appearElevator {
  100% {
    opacity: 1;
  }
}

.elevatorContainer {
  display: flex;
  justify-content: center;

}



.elevator {
  background-image: url("../images/elevator.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

}


.bloodOcean {
  position: absolute;
  align-self: flex-end;
  background: linear-gradient(rgb(111, 4, 23) 30%, rgb(94, 2, 8) 50%, rgb(104, 0, 0) 100%);
  width: 70vw;
  height: 3em;
  opacity: 0.4;
  z-index: -1;
  animation: surface 8s ease-in forwards 1;
}

/* Animation of water surface */

@keyframes surface {
  5% {
    border-radius: 10% 75% 0 0;
    opacity: 0.3;
    height: 265px;
  }

  30% {
    border-radius: 15% 95% 0 0;
    opacity: 0.4;
    height: 150px;
  }

  40% {
    border-radius: 45% 5% 0 0;
    opacity: 0.5;
    height: 100px;
  }

  20% {
    border-radius: 15% 75% 0 0;
    opacity: 0.6;
    height: 80px;

  }

  30% {
    border-radius: 10% 95% 0 0;
    opacity: 0.7;
    height: 70px;

  }

  40% {
    border-radius: 65% 5% 0 0;
    opacity: 0.8;
    height: 200px;
  }

  50% {
    border-radius: 15% 95% 0 0;
    opacity: 0.9;
    height: 300px;
  }

  60% {
    border-radius: 50% 35% 0 0;
    opacity: 1;
    height: 500px;
  }

  70% {
    border-radius: 85% 5% 0 0;
    opacity: 1;
    height: 300px;
  }

  75% {
    border-radius: 15% 55% 0 0;
    opacity: 1;
    height: 500px;
  }

  80% {
    border-radius: 30% 85% 0 0;
    opacity: 1;
    height: 600px;
  }

  85% {
    border-radius: 45% 10% 0 0;
    opacity: 1;
    height: 500px;
  }



  90% {
    border-radius: 15% 55% 0 0;
    opacity: 1;
    height: 600px;
  }

  95% {
    border-radius: 30% 85% 0 0;
    opacity: 1;
    height: 650px;
  }

  97% {
    border-radius: 45% 10% 0 0;
    opacity: 1;
    height: 730px;
  }

  100% {
    border-radius: 0 0;
    opacity: 1;
    height: 800px;
  }


}

.elevatorDissapear {
  animation: elDissapear 1s 2s linear forwards 1;
}

@keyframes elDissapear {
  100% {
    opacity: 0;
  }
}

/* talling to tony */

.talkingtotony {
  display: none;
  height: 100vh;
  width: 100vw;

}



.upTony {
  background-image: url(../images/boy-03.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  justify-self: center;
  animation: talkingtony 1s linear 23;

  height: 100vh;
  width: 100vw;

}

.downTony {
  opacity: 0;
  background-image: url(../images/boy-04.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  animation: talkingtony1 1s linear 1 forwards;

}

@keyframes talkingtony1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes talkingtony {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}



/* door game css */

.findMother {
  display: none;
  opacity: 0;
  background-image: url(../images/bgdoorgame.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-align: center;
  animation: appearGame 1s 1s linear 1 forwards;

}

@keyframes appearGame {
  100% {
    opacity: 1;
  }
}


.rules li {
  list-style: none;
  padding: 1rem;
}

.doors {
  background-size: contain;
  display: flex;
  justify-content: space-around;
  /* margin-top: 2rem; */
  /* justify-content: center; */
  */
}

#firstDoor,
#secondDoor,
#thirdDoor {
  /* background-image: url("../images/doors.png"); */
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
  background-size: contain;
  /* display: inline; */
}

/* start button */

#startDoor {
  display: flex;
  margin: 0 auto;
  font-size: 2em;
  background-image: url("../images/blood-buttons.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 300px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}


.moveDown {
  animation: moveDown 3s linear 1 forwards;
  overflow: hidden;
}

@keyframes moveDown {
  to {
    transform: translateY(-102vh);
  }
}

/* axe fight scene */
/* axe fight scene */
/* axe fight scene */
/* axe fight scene */




.axeDisplay {
  overflow: hidden;
  height: 100vh;
  width: 100vw;

}



.moveLeft {
  overflow: hidden;
  animation: moveLeft 2s linear 1 forwards;
}

@keyframes moveLeft {
  0% {
    transform: translateX(-100vw);

  }

  100% {
    display: block;
    transform: translateX(0);
  }
}

.background {
  display: flex;
  float: right;
  background-image: url("../images/jackwendybathroom-03.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}


.character {
  background-image: url("../images/Asset_1@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -29%;
  left: 4.5%;
  animation: axing 1s 2.5s steps(8) 7;

  width: 812.375px;
  height: 1012px;
}

/*extra
#jack-coming-in{
	background-image: url(Graphics/jackwithaxe-05.png);
	background-repeat: no-repeat;
	align-self: flex-end;
	position: absolute;
	
	animation: walk_in 5s linear 1;}

@keyframes walk_in {
	0%{transform: translateX(-10vw)}
	99%{transform:translateX(40vw)}
	100%{opacity: 0%}
}
extra*/

@keyframes axing {
  /* from {
    background-position: 406.25px;
  } */

  to {
    background-position: -6499px
  }
}

/* running towards maze wendy */

.runningTowardsmaze {
  overflow: hidden;
  background-image: url("../images/running_towards_maze/snowmaze-02.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  animation: appearingFromBottom 2s linear 1 forwards;
}

.axenodisplay {
  display: none;

}

@keyframes appearingFromBottom {
  0% {
    transform: translateY(-100vh)
  }

  100% {
    transform: translateY(0);
  }
}

.wendyRunning {

  align-self: flex-end;
  background-image: url("../images/running_towards_maze/wendywalking-03.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40vw;
  height: 50vh;
  animation: runningTomaze 4s 0.5s ease-in 1 forwards;
}

@keyframes runningTomaze {
  100% {
    transform: translate(70vw, -10vh);
  }
}

/* maze styling  */
/* maze styling  */
/* maze styling  */
/* maze styling  */

.mazeGameContainer {
  overflow: hidden;
  display: none;
  margin: 0 auto;
  text-align: center;
  background-image: url("../images/snowbackground-02.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  animation: appearMaze 2s linear 1 forwards;


}

@keyframes appearMaze {
  100% {
    opacity: 1;
  }
}

.headingMaze {
  padding-top: 6vh;
}

canvas {
  /* top: 30vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute; */

}



.mazeLayoutBTN {
  margin: 2em;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/blood-buttons.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 200px;
  cursor: pointer;
  margin: 0 auto;
}