.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/fighting/livingroom-02.png);
  background-size: cover;
  overflow: hidden;
}

.norepeat {
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

/* fire */
.fire {
  grid-area: 1/1 / span 1 / span 1;
  background-image: url(../images/fighting/fire-04.png);
  max-width: 500px;
  max-height: 600px;
  background-size: cover;
  align-self: flex-end;
  justify-self: center;
  animation: fire 2s alternate infinite;
}

@keyframes fire {
  0% {
    filter: drop-shadow(10px 10px 5px #ff4500);
  }
  30% {
    filter: drop-shadow(10px 10px 5px orange);
  }
  60% {
    filter: drop-shadow(10px 10px 15px red);
  }
  80% {
    filter: drop-shadow(15px 15px 10px rgb(109, 50, 50));
  }
  100% {
    filter: drop-shadow(10px 10px 15px rgb(232, 104, 6));
  }
}
/* fire */

.jack {
  grid-area: 1/2 / span 1 / span 1;
  background-image: url(../images/fighting/jack-03.png);
  max-width: 500px;
  max-height: 600px;
  background-size: cover;
  align-self: flex-end;
  justify-self: flex-start;
}
/* jack jumping */

.jackJump {
  animation: jackJump 0.5s 1s 5 forwards ease-in;
}

@keyframes jackJump {
  100% {
    transform: rotate(5deg);
    transform-origin: left;
  }
}

/* jack Walking */

.jackWalking {
  animation: jackWalking 3s ease-in-out alternate 5 forwards;
}

@keyframes jackWalking {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-100px);
  }
}

/* jack Walking */
/*  */
/* jack shaking */

.shaking {
  animation: shaking 0.1s ease-in-out alternate 25 forwards;
}

@keyframes shaking {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(20px);
  }
}

/*  */

.wendy {
  grid-area: 1/2 / span 1 / span 1;
  background-image: url(../images/fighting/wendy-06.png);
  max-width: 400px;
  max-height: 600px;
  background-size: contain;
  align-self: flex-end;
  justify-self: center;
  bottom: 0;
}
