@font-face {
  font-family: 'Afl-font';
  src: url('../fonts/aflfont.TTF');
}

.container {
  font-family: "Afl-font", sans-serif;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;

}




.instructions {
  grid-area: 1/2/span 1/ span 1;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 700px;
  align-self: center;
  animation: showButton 0.2s 0.1s linear forwards;
  opacity: 0;



}

#start {
  text-align: center;
  align-self: center;
  background-image: url("../images/blood-buttons.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 300px;
  transition: all;
  justify-content: center;
  animation: showButton 1s 25s linear forwards;
  cursor: pointer;
}

.startButtonDisplayNone {
  display: none;
}

.startButtonDisplay {
  display: flex;
}



@keyframes showButton {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#start:hover {
  transform: skew(20deg, 30deg);
}





h4 {
  font-size: 2.5em;
  align-self: center;

}

.container1 {
  background-image: url("../images/hallway-03.png");
}

.fadeout {
  animation: fadeout 1s linear forwards 1;
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
}


.container2 {
  opacity: 0;
  background-image: url("../images/hallwayopendoor.png");
  animation: bganimation 2s ease-in forwards 1;

}

@keyframes bganimation {
  100% {
    opacity: 1;
  }
}


.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-self: center;
  margin-bottom: -200px;
  grid-area: 1/2/ span 1/ span 1;

}


.twins {
  opacity: 0;
  align-self: center;
  background-image: url("../images/twins.png");
  width: 300px;
  height: 400px;
  animation: appear 1s 2s linear forwards 1;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

.boy {
  align-self: flex-end;

  width: 300px;
  height: 400px;
  bottom: -25vw;
  animation: bycycle 3s forwards ease-in 1;
}

@keyframes bycycle {
  from {
    transform: translateY(200px);
  }

  to {
    transform: translateY(-200px);

  }
}

.boy1 {

  background-image: url("../images/boy_test.png");

}

.boy2 {
  margin-bottom: 5vh;
  background-image: url("../images/boySide.png");
  animation: moveRight 2s 3s linear forwards 1;

}

@keyframes moveRight {
  100% {
    transform: translateX(200px);
    opacity: 0;
  }

}


.key {
  opacity: 0;
  align-self: center;
  justify-self: right;
  background-image: url("../images/key-06.png");
  background-size: contain;
  width: 200px;
  height: 150px;
  margin-right: -50px;
  cursor: pointer;
  animation: appearKey 2s 3s forwards ease-in infinite;
  /* z-index: 1000; */

}

@keyframes appearKey {
  10% {
    opacity: 0.2;
    filter: drop-shadow(5px 5px 5px red)
  }

  30% {
    opacity: 0.5;

    filter: drop-shadow(10px 10px 10px red)
  }

  50% {
    opacity: 0.8;

    filter: drop-shadow(15px 15px 15px red)
  }

  100% {
    opacity: 1;

    filter: drop-shadow(15px 15px 15px red)
  }
}

/* typewritter */

h3 {
  margin: 1em;
}

.line-1 {
  top: 50%;
  width: 2em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 2em;
  /* text-align: center; */
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s 1s steps(40) 1 normal both,
    blinkTextCursor 500ms 1s steps(30) 10 forwards;
}

.anim-typewriter1 {
  animation: typewriter 4s 5s steps(64) 1 normal both,
    blinkTextCursor 500ms 5s steps(30) 10 forwards;

}

.anim-typewriter2 {
  animation: typewriter 4s 9s steps(64) 1 normal both,
    blinkTextCursor 500ms 9s steps(30) 10 forwards;

}

.anim-typewriter3 {
  animation: typewriter 4s 13s steps(64) 1 normal both,
    blinkTextCursor 500ms 13s steps(30) 10 forwards;

}

.anim-typewriter4 {
  animation: typewriter 4s 17s steps(64) 1 normal both,
    blinkTextCursor 500ms 17s steps(30) 10 forwards;

}

.anim-typewriter5 {
  animation: typewriter 3s 21s steps(64) 1 normal both,
    blinkTextCursor 500ms 21s steps(30) 10 forwards;

}




@keyframes typewriter {
  from {

    width: 0;
  }

  to {

    width: 26em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}