.container {
  overflow: hidden;
  background-image: url("../images/hallway-03-03.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: blue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-self: center;
  margin-bottom: -200px;
  grid-area: 1/2/ span 1/ span 1;

}


.twins {
  opacity: 0;
  align-self: center;
  background-image: url("../images/twins.png");
  width: 300px;
  height: 400px;
  animation: appear 1s 2s linear forwards 1;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

.boy {
  background-image: url("../images/boy_test.png");
  width: 300px;
  height: 400px;
  align-self: flex-end;
  bottom: -25vw;
  animation: bycycle 3s forwards ease-in 1;
}

@keyframes bycycle {
  from {
    transform: translateY(200px);
  }

  to {
    transform: translateY(-200px);

  }
}

.key {
  opacity: 0;
  align-self: center;
  justify-self: right;
  background-image: url("../images/key-06.png");
  background-size: contain;
  width: 200px;
  height: 150px;
  margin-right: -50px;
  animation: appearKey 2s 4s forwards ease-in infinite;

}

@keyframes appearKey {
  10% {
    opacity: 0.2;
    filter: drop-shadow(5px 5px 5px red)
  }

  30% {
    opacity: 0.5;

    filter: drop-shadow(10px 10px 10px red)
  }

  50% {
    opacity: 0.8;

    filter: drop-shadow(15px 15px 15px red)
  }

  100% {
    opacity: 1;

    filter: drop-shadow(15px 15px 15px red)
  }
}